@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,600;1,600&display=swap');


body,
html {
    background-color: #495B60;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-flow: column;

}

.boldItalic {
    font-weight: bold;
}


@media only screen and (min-device-width : 320px) {


    body,
    html {
        width: 320px;
        height: 100%;
        overflow: hidden;
    }


    .selectionWrap,
    .selectService,
    .numberOfRooms,
    .movingInOut,
    .serviceTypeTextWrap,
    .buttonsWrap,
    .basicCleanButton,
    .deepCleanButton,
    .movingInOutButton,
    .nextButton {
        display: flex;
        align-items: center;
        justify-content: center;


    }

    /*---TOP SERVICE CONTENTS---*/

    .selectionWrap {
        position: relative;
        color: #fff;
        height: 10%;
        font-weight: 100;
        font-size: 0.9em;
        justify-content: space-around;

    }


    /*---SELECT SERVICE TITLE AND BLURB---*/

    .serviceTypeTextWrap {
        position: relative;
        top: 3%;
        height: 18%;
        color: #E7E6E0;

    }

    .selectService-Title {
        position: absolute;
        top: 10%;
        font-weight: 200;
        font-size: 1.3em;
        margin: 0;

    }

    .selectService-Blurb,
    .requirement-Blurb {
        position: absolute;
        bottom: 20%;
        font-weight: 200;
        font-size: 1.1em;
        text-align: center;
        margin: 0;

    }

    .requirement-Blurb {
        display: none;
    }

    /*---BUTTONS---*/


    .buttonsWrap {
        position: relative;
        height: 55%;
        top: 3%;
        flex-flow: column;
        justify-content: space-around;
    }


    .basicCleanButton,
    .deepCleanButton,
    .movingInOutButton {
        position: relative;
        background-color: transparent;
        height: 50px;
        width: 70%;
        border: 1px solid #F4B494;
        color: #E7E6E0;
        font-size: 1.3em;

    }

    .basicCleanButton::before,
    .deepCleanButton::before,
    .movingInOutButton::before {
        background: none;
        border: 1px solid #F4B494;
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        pointer-events: none;

    }

    .basicClean-inputField,
    .deepClean-inputField,
    .movingInOut-inputField {
        opacity: 0;
        position: absolute;
        border: none;
        background: #495B60;
        padding: 18px 0px 0px 10px;
        outline: none;
        color: #E7E6E0;
        font-size: 1.1em;
        font-family: 'Josefin Sans', sans-serif;

    }

    ::-webkit-input-placeholder {
        color: #E7E6E0;
        font-size: 0.7em;
        opacity: 0.5;
        text-align: center;


    }

    :-ms-input-placeholder {
        color: #E7E6E0;
        font-size: 0.7em;
        opacity: 0.5;
        text-align: center;


    }

    ::placeholder {
        color: #E7E6E0;
        font-size: 0.7em;
        opacity: 0.5;
        text-align: center;

    }


    .nextButton {
        position: relative;
        height: 10%;
        top: 4%;
        font-size: 1.3em;
        color: #E7E6E0;
    }



    .animatedUnderline {
        opacity: 0;
        width: 0%;
    }

}

