@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,600;1,600&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #F1F1E6;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-flow: column;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


    .selectService,
    .numberOfRooms,
    .timeDate,
    .selectServiceBlurb,
    .serviceTypes,
    .basicClean,
    .deepClean,
    .movingInOut,
    .nextButtonWrap,
    .nextButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*----PROGRESS TRACKER8----*/

    .progressTracker {
        height: 100px;
        width: 100%;
        


    }

    .trackerBar {
        position: relative;
        border: 2px solid #FFB992;
        top: 40px;
        width: 270px;

    }

    .selectService,
    .numberOfRooms,
    .timeDate {
        display: flex;
        height: 50px;
        width: 95px;
        position: relative;
        text-align: center;
    }

    .selectService {
        left: 13px;
        bottom: -21px;
        width: 95px;

    }

    .numberOfRooms {
        left: 123px;
        width: 80px;
        bottom: 30px;
    }

    .timeDate {
        position: absolute;
        top: 41px;
        width: 95px;
        right: 13px;

    }

    .selectService-text {
        position: relative;
        margin-top: 25px;
        font-weight: 300;
        font-size: 13px;
    }

    .fa-dot-circle {
        position: absolute;
        top: 0;
        color: #CEF8F9;
    }


    /*----SELECT SERVICE BLURB----*/

    .selectServiceBlurb {
        position: relative;
        top: 40px;
        
        height: 76px;
    }

    .selectServiceType-title {
        position: absolute;
        font-size: 20px;
        top: 0;
        margin: 0;
        font-weight: 300;
    }

    .selectServiceType-text {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 20px;
        font-weight: 200;
        text-align: center;

    }

    .bolItalic {
        font-weight: 600;
    }

    /*----SERVICE TYPE BUTTONS----*/


    .serviceTypes {
        position: relative;
        
        top: 100px;
        flex-flow: column;
        justify-content: space-between;
        height: 280px;

    }

    .basicClean,
    .deepClean,
    .movingInOut {
        position: relative;
        width: 260px;
        height: 58px;
        font-size: 25px;
        
        border-radius: 10px;
        background-color: #F7E5C0;
    }

    /*----NEXT BUTTON----*/


    .nextButtonWrap {
        position: relative;
        top: 300px;
        

    }

    .nextButton {
        position: relative;
        font-size: 25px;
        width: 250px;
        height: 40px;
        
        background-color: #E08872;
        border-radius: 10px;

    }


}